Repository crim-ca/weaver, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, doc, db, security, tests, builtin, CWL, WPS1, WPS2, WPS3

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - MANIFEST.in
  - hooks/**/*
  - Makefile*
  - Dockerfile*
  - setup.*
  - requirements*
  - tests/travis-ci/**/*

doc:
  - "*.rst"
  - "*.example"
  - LICENCE*
  - docs/**/*

db:
  - weaver/datatype.py
  - weaver/database/**/*
  - weaver/store/**/*

security:
  - weaver/visibility.py

tests:
  - tests/**/*
  - weaver/processes/wps_default.py
  - weaver/processes/wps_testing.py

## -- WPS processes --

builtin:
  - weaver/processes/builtin/**/*

CWL:
  - weaver/processes/wps_process_base.py
  - weaver/processes/wps_package.py
  - weaver/processes/wps_workflow.py

WPS1:
  - weaver/wps.py
  - weaver/processes/wps1*

WPS2:
  - weaver/wps.py
  - weaver/processes/wps2*

WPS3:
  - weaver/wps_restapi/**/*

fix readthedocs problem
  docs/source/conf.py
  setup.py
  weaver/__meta__.py
Labels: ci, doc

test fork gitleaks-action
  .github/workflows/secret-scan.yml
Labels: none

update cwltools>=2 if python>=3
  requirements.txt
Labels: ci

pass the Accept-Language header to ...
  weaver/datatype.py
  weaver/store/mongodb.py
  weaver/wps_restapi/processes/processes.py
  weaver/wps_restapi/swagger_definitions.py
Labels: db, WPS3

complete the set_wps_language function
  weaver/wps_restapi/processes/processes.py
Labels: WPS3

fix accept_language storing and add documentation
  weaver/datatype.py
  weaver/wps_restapi/processes/processes.py
Labels: db, WPS3

add test for wps languages
  tests/wps_restapi/test_processes.py
Labels: tests

fix for mock module in python 2.7
  tests/wps_restapi/test_processes.py
Labels: tests

update docstring
  weaver/wps_restapi/processes/processes.py
Labels: WPS3

enforce required ruamel.yaml<=0.16.5 by cwltool not picked up correctly
  requirements.txt
Labels: ci

fix cwltool issues with 2.x
  weaver/processes/wps_workflow.py
Labels: CWL

fix linting
  tests/wps_restapi/test_processes.py
  weaver/processes/wps_workflow.py
  weaver/wps_restapi/processes/processes.py
Labels: tests, CWL, WPS3

update docker repo for dockerhub in travis build
  .travis.yml
Labels: ci

fix cwltool issues with 2.x
  weaver/processes/wps_workflow.py
Labels: CWL

docker login to push images
  .travis.yml
Labels: ci

adjust travis docker build only once
  .travis.yml
Labels: ci

fix linting
  tests/wps_restapi/test_processes.py
  weaver/processes/wps_workflow.py
  weaver/wps_restapi/processes/processes.py
Labels: tests, CWL, WPS3

fix pep8 + run make checks/coverage/docs separately
  .travis.yml
  weaver/wps_restapi/jobs/notify.py
Labels: ci, WPS3

dockers inherit from weaver:base to allow build any tag/latest
  Makefile
  docker/Dockerfile-manager
  docker/Dockerfile-worker
  setup.cfg
Labels: ci

trigger
  .travis.yml
Labels: ci

use gunicorn again
  docker/Dockerfile-manager
  requirements.txt
Labels: ci

fix for accept_language when empty or None
  weaver/wps_restapi/processes/processes.py
Labels: WPS3

fix owslib requirement updated for depecated Python 3.8 dependencies (fix #62)
  requirements.txt
Labels: ci

update changelog with recent fixes
  CHANGES.rst
Labels: doc

remove inexistant docs reference to dir
  docs/source/conf.py
Labels: doc

make job log updates more gradual for better tracking of internal operations
  CHANGES.rst
  weaver/datatype.py
  weaver/processes/wps_package.py
  weaver/store/mongodb.py
  weaver/wps_restapi/processes/processes.py
Labels: doc, db, CWL, WPS3

wps builtin process jsonarray2netcdf remote file fetch
  CHANGES.rst
  tests/functional/test_builtin.py
  weaver/processes/builtin/jsonarray2netcdf.py
  weaver/utils.py
Labels: doc, tests, builtin

update changes
  CHANGES.rst
Labels: doc

ignore linkcheck failure + upadte readme for dockerhub repo
  README.rst
  docs/source/conf.py
Labels: doc

patch failing https://github.com/eshork/gitleaks-action/issues/3
  .github/workflows/secret-scan.yml
  CHANGES.rst
Labels: doc

allows docs cleanup to fail (eg: in case sphinx-build not yet installed)
  Makefile
Labels: ci

pylint ignore issues
  docs/source/conf.py
  weaver/owsexceptions.py
  weaver/processes/wps_package.py
Labels: doc, CWL

read response content as stream
  weaver/utils.py
Labels: none

Bump version: 1.0.0 → 1.1.0
  CHANGES.rst
  Makefile
  README.rst
  docker/Dockerfile-base
  setup.cfg
  weaver/__meta__.py
Labels: ci, doc

patch travis build logic on tag
  .travis.yml
Labels: ci

update metadata repo links
  weaver/__meta__.py
Labels: none

don't cast values when validating a job's ...
  weaver/wps_restapi/processes/processes.py
Labels: WPS3
