Repository crim-ca/weaver, pull requests merged in 2020-09, with the labels that each got.

#199 doc additions
  docs/source/appendix.rst
  docs/source/configuration.rst
  docs/source/faq.rst
  docs/source/package.rst
  docs/source/processes.rst
  docs/source/references.rst
  docs/source/running.rst
  docs/source/toc.rst
  docs/source/tutorial.rst
Labels: ci/doc

#193 Fix workflow input value in wp3 process
  .pylintrc
  CHANGES.rst
  requirements-dev.txt
  tests/processes/echo.sh
  tests/processes/test_wps3_process.py
  tests/utils.py
  weaver/processes/wps3_process.py
  weaver/processes/wps_workflow.py
  weaver/utils.py
Labels: WIP, ci/doc, ci/operations, ci/tests, feature/CWL, feature/job, process/workflow, process/wps3, project/OGC

#201 add docs example references (relates to #61)
  .readthedocs.yml
  CHANGES.rst
  docs/source/examples.rst
  docs/source/faq.rst
  docs/source/package.rst
  docs/source/processes.rst
  docs/source/references.rst
  docs/source/toc.rst
  weaver/__meta__.py
Labels: ci/doc, ci/operations
