Repository crim-ca/weaver, pull requests merged in 2020-02, with the labels that each got.

#74 Wps execute accept language
  tests/wps_restapi/test_processes.py
  weaver/datatype.py
  weaver/store/mongodb.py
  weaver/wps_restapi/processes/processes.py
  weaver/wps_restapi/swagger_definitions.py
Labels: WPS3, db, tests

#75 enforce required ruamel.yaml<=0.16.5 by cwltool not picked up correctly
  requirements.txt
Labels: ci

#76 Docker gunicorn
  .travis.yml
  Makefile
  docker/Dockerfile-manager
  docker/Dockerfile-worker
  requirements.txt
  setup.cfg
  tests/wps_restapi/test_processes.py
  weaver/processes/wps_workflow.py
  weaver/wps_restapi/jobs/notify.py
  weaver/wps_restapi/processes/processes.py
Labels: CWL, WPS3, ci, tests

#77 fix for accept_language when empty or None
  weaver/wps_restapi/processes/processes.py
Labels: WPS3

#79 Fix owslib req python38
  CHANGES.rst
  docs/source/conf.py
  requirements.txt
Labels: ci, doc

#80 improve job execution
  .github/workflows/secret-scan.yml
  CHANGES.rst
  Makefile
  README.rst
  docs/source/conf.py
  tests/functional/test_builtin.py
  weaver/datatype.py
  weaver/owsexceptions.py
  weaver/processes/builtin/jsonarray2netcdf.py
  weaver/processes/wps_package.py
  weaver/store/mongodb.py
  weaver/utils.py
  weaver/wps_restapi/processes/processes.py
Labels: CWL, WPS3, builtin, ci, db, doc, tests

#26 try to append a slash to the path when the route is not found
  weaver/wps_restapi/__init__.py
Labels: WIP, WPS3

#81 Don't cast values when validating a job's POST body
  CHANGES.rst
  tests/wps_restapi/test_processes.py
  weaver/wps_restapi/colander_extras.py
Labels: WPS3, doc, tests
