Repository crim-ca/weaver, pull requests merged in 2020-03, with the labels that each got.

#82 Add wps languages for other wps requests types
  CHANGES.rst
  weaver/wps_restapi/processes/processes.py
Labels: WPS3, doc

#88 add wps external url setting
  CHANGES.rst
  config/weaver.ini.example
  weaver/wps.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/utils.py
Labels: WPS1, WPS2, WPS3, doc

#89 update owslib to 0.19.2
  .travis.yml
  CHANGES.rst
  README.rst
  requirements.txt
  setup.py
Labels: ci, doc

#92 Fix builtin process job execution and results href
  CHANGES.rst
  tests/functional/test_builtin.py
  tests/functional/test_ems_end2end.py
  tests/utils.py
  tests/wps_restapi/test_jobs.py
  weaver/processes/builtin/__init__.py
  weaver/processes/builtin/jsonarray2netcdf.py
  weaver/processes/wps_package.py
  weaver/typedefs.py
  weaver/utils.py
  weaver/wps.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/jobs/jobs.py
  weaver/wps_restapi/processes/processes.py
Labels: CWL, WPS1, WPS2, WPS3, builtin, doc, tests

#93 changelog links to github tags and issues
  CHANGES.rst
  setup.cfg
Labels: ci, doc

#95 fix fetch-file retry
  CHANGES.rst
  tests/test_utils.py
  tests/utils.py
  weaver/utils.py
Labels: doc, tests

#96 Coverage ignore typecheck
  setup.cfg
Labels: ci
