Repository crim-ca/weaver, pull requests merged in 2020-07, with the labels that each got.

#181 add minor version prior to esgf merge
  CHANGES.rst
Labels: ci, doc

#184 AWS S3 support
  .pylintrc
  CHANGES.rst
  README.rst
  config/weaver.ini.example
  docs/source/appendix.rst
  docs/source/configuration.rst
  docs/source/package.rst
  docs/source/processes.rst
  docs/source/references.rst
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  tests/functional/test_ems_end2end.py
  tests/functional/test_wps_package.py
  tests/processes/test_wps_package.py
  tests/test_utils.py
  tests/utils.py
  weaver/exceptions.py
  weaver/formats.py
  weaver/processes/wps_package.py
  weaver/store/mongodb.py
  weaver/utils.py
  weaver/wps.py
  weaver/wps_restapi/jobs/jobs.py
  weaver/wps_restapi/processes/processes.py
Labels: AWS, CWL, OGC, WIP, ci, db, doc, job, process/wps1, process/wps2, process/wps3, tests

#188 patch docs
  docs/source/processes.rst
Labels: doc

#189 Fix missing log files
  CHANGES.rst
  weaver/processes/wps_workflow.py
Labels: CWL, doc, process/workflow

#190 Bump version: 1.13.0 → 1.13.1
  CHANGES.rst
  Makefile
  README.rst
  docker/Dockerfile-base
  setup.cfg
  weaver/__meta__.py
Labels: ci, doc
