Repository crim-ca/weaver, pull requests merged in 2021-08, with the labels that each got.

#282 update missing HYBRID mode file handling definitions + minor typing fix
  CHANGES.rst
  docs/source/appendix.rst
  docs/source/conf.py
  docs/source/processes.rst
  docs/source/toc.rst
  weaver/processes/wps_package.py
Labels: ci/doc, feature/CWL

#279 Execute request with inline values and arrays under mapping (fixes #265)
  .gitignore
  CHANGES.rst
  tests/functional/test_wps_package.py
  weaver/processes/execution.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/tests, ci/doc, process/wps3, feature/oas, ci/operations

#280 Add missing processID and providerID details in job status info response
  CHANGES.rst
  tests/functional/test_wps_package.py
  tests/wps_restapi/test_jobs.py
  weaver/processes/execution.py
Labels: ci/tests, ci/doc

#283 fix get_wps_client headers copy - serialize error
  CHANGES.rst
  weaver/wps/utils.py
Labels: ci/doc

#284 adjust datatype auto-resolution of fields
  CHANGES.rst
  weaver/datatype.py
Labels: ci/doc, feature/db

#286 avoid DuplicateKeyError during initial builtin process registration
  CHANGES.rst
  weaver/store/mongodb.py
Labels: ci/doc, feature/db

#285 Add missing process I/O field details (fixes #211)
  CHANGES.rst
  tests/functional/test_builtin.py
  tests/functional/test_wps_package.py
  tests/test_opensearch.py
  tests/wps_restapi/test_processes.py
  weaver/datatype.py
  weaver/processes/convert.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/tests, ci/doc, process/wps3, feature/db, feature/oas

#287 improvements to dependency installs during test workflow
  .github/workflows/tests.yml
  tests/functional/test_wps_package.py
Labels: ci/tests, ci/doc, ci/operations
