Repository crim-ca/weaver, pull requests merged in 2021-07, with the labels that each got.

#262 Added array support for job input (fixes #233)
  CHANGES.rst
  tests/functional/test_wps_package.py
  tests/utils.py
  weaver/processes/constants.py
  weaver/processes/execution.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/jobs/jobs.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/doc, ci/tests, feature/job, feature/oas, process/wps3

#255 Address `fix-lint` target problem not respecting ignore comments
  Makefile
  setup.cfg
  weaver/datatype.py
  weaver/processes/wps_workflow.py
  weaver/store/mongodb.py
  weaver/wps/service.py
  weaver/wps_restapi/colander_extras.py
Labels: ci/doc, ci/operations, ci/tests, feature/CWL, feature/db, feature/oas, process/workflow, process/wps3

#273 fix codacy badge in readme + add markdown linting
  .dockerignore
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .gitignore
  .remarkignore
  .remarkrc
  .stylelintrc.json
  Makefile
  README.rst
  docs/_static/custom.css
Labels: ci/doc, ci/operations

#272 Fixed representation according to ogcapi (fixes #263)
  CHANGES.rst
  tests/functional/test_wps_package.py
  tests/wps_restapi/test_processes.py
  weaver/datatype.py
Labels: ci/doc, ci/tests, feature/db

#274 Fixed cwl running environment to prevent dysfunctions for next cwl patch
  tests/functional/test_wps_package.py
  tests/json_examples/opensearch_deploy.cwl
  tests/json_examples/opensearch_deploy.json
  tests/test_opensearch.py
Labels: ci/doc, ci/tests
