Repository crim-ca/weaver, pull requests merged in 2021-09, with the labels that each got.

#288 Block unknown process type deployment (fixes #276)
  CHANGES.rst
  tests/functional/test_wps_package.py
  weaver/processes/utils.py
  weaver/processes/wps_package.py
Labels: ci/tests, ci/doc, feature/CWL, ci/operations

#308 fix ciruclar import
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/doc, process/wps3, feature/oas

#312 allow empty wps_processes.yml config file
  CHANGES.rst
  Makefile
  docs/source/appendix.rst
  tests/processes/test_utils.py
  tests/resources.py
  tests/test_utils.py
  tests/utils.py
  tests/wps_restapi/test_processes.py
  tests/wps_restapi/test_providers.py
  weaver/processes/utils.py
  weaver/utils.py
Labels: ci/tests, ci/doc, ci/operations

#321 update all available/applicable req/rec/per conformance links
  weaver/wps_restapi/api.py
Labels: ci/doc, triage/conformance, project/OGC

#323 add missing check-docf target
  .readthedocs.yml
  Makefile
  docs/source/conf.py
  requirements-dev.txt
  requirements-doc.txt
  requirements-sys.txt
  requirements.txt
  setup.py
  tests/functional/test_ems_end2end.py
  tests/functional/test_wps_package.py
  tests/processes/test_convert.py
  tests/processes/test_wps3_process.py
  tests/processes/test_wps_package.py
  tests/test_formats.py
  tests/test_mongodb.py
  tests/utils.py
  tests/wps_restapi/test_api.py
  tests/wps_restapi/test_colander_extras.py
  tests/wps_restapi/test_jobs.py
  tests/wps_restapi/test_processes.py
  tests/wps_restapi/test_status_codes.py
  weaver/database/base.py
  weaver/datatype.py
  weaver/processes/builtin/__init__.py
  weaver/processes/convert.py
  weaver/processes/opensearch.py
  weaver/processes/utils.py
  weaver/processes/wps_package.py
  weaver/processes/wps_testing.py
  weaver/store/mongodb.py
  weaver/warning.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/processes/processes.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/tests, ci/doc, feature/CWL, process/wps3, process/builtin, feature/db, feature/oas, feature/opensearch, ci/operations

#326 adding literalDataDomains handling and other I/O field extra metadata
  CHANGES.rst
  tests/functional/test_wps_package.py
  tests/processes/test_convert.py
  tests/processes/test_wps_package.py
  tests/resources.py
  tests/resources/wps_literal_values_io.xml
  tests/test_schemas.py
  tests/wps_restapi/test_colander_extras.py
  tests/wps_restapi/test_providers.py
  weaver/processes/convert.py
  weaver/processes/wps_package.py
  weaver/typedefs.py
  weaver/utils.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/providers/providers.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/tests, ci/doc, feature/CWL, process/wps3, feature/oas

#331 Fix Execute inputs validation while still allow as optional
  CHANGES.rst
  tests/wps_restapi/test_colander_extras.py
  tests/wps_restapi/test_processes.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/tests, ci/doc, process/wps3, feature/oas

#307 attempt upgrade of pywps and owslib dependencies
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/security.md
  CHANGES.rst
  SECURITY.md
  requirements.txt
  tests/functional/test_docker_app.py
  tests/functional/test_wps_app.py
  tests/functional/test_wps_package.py
  tests/functional/utils.py
  tests/processes/test_wps3_process.py
  tests/test_utils.py
  weaver/datatype.py
  weaver/formats.py
  weaver/processes/builtin/metalink2netcdf.py
  weaver/processes/convert.py
  weaver/processes/execution.py
  weaver/processes/opensearch.py
  weaver/processes/utils.py
  weaver/typedefs.py
  weaver/utils.py
  weaver/wps/service.py
  weaver/wps/utils.py
  weaver/wps_restapi/swagger_definitions.py
  weaver/xml_util.py
Labels: ci/tests, ci/doc, process/wps3, triage/security, process/builtin, feature/db, feature/oas, feature/opensearch, ci/operations

#342 fix execution of WPS remote providers and corresponding metadata
  CHANGES.rst
  config/weaver.ini.example
  docs/source/processes.rst
  tests/functional/test_builtin.py
  tests/functional/test_docker_app.py
  tests/functional/test_wps_package.py
  tests/functional/test_wps_provider.py
  tests/functional/utils.py
  tests/resources/__init__.py
  tests/resources/wps_hummingbird_getcap.xml
  tests/resources/wps_hummingbird_ncdump_describe.xml
  tests/resources/wps_hummingbird_ncdump_status.xml
  tests/resources/wps_invalid_escape_chars_getcap.xml
  tests/utils.py
  tests/wps_restapi/test_jobs.py
  tests/wps_restapi/test_providers.py
  weaver/datatype.py
  weaver/exceptions.py
  weaver/processes/convert.py
  weaver/processes/execution.py
  weaver/processes/utils.py
  weaver/processes/wps_package.py
  weaver/tweens.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/jobs/jobs.py
  weaver/wps_restapi/processes/__init__.py
  weaver/wps_restapi/processes/processes.py
  weaver/wps_restapi/providers/__init__.py
  weaver/wps_restapi/providers/providers.py
  weaver/wps_restapi/providers/utils.py
  weaver/wps_restapi/swagger_definitions.py
  weaver/xml_util.py
Labels: ci/tests, ci/doc, feature/CWL, process/wps3, feature/db, feature/job, feature/oas
