Repository crim-ca/weaver, pull requests merged in 2021-06, with the labels that each got.

#258 fix invalid Not keyword resolution
  CHANGES.rst
  tests/functional/test_wps_package.py
  tests/wps_restapi/test_colander_extras.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/doc, ci/tests, feature/oas, process/wps3

#256 Fix limit integration (fixes #237)
  CHANGES.rst
  tests/wps_restapi/test_jobs.py
  weaver/store/base.py
  weaver/store/mongodb.py
  weaver/typedefs.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/jobs/jobs.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/doc, ci/tests, feature/db, feature/job, feature/oas, process/wps3

#259 pin astroid<2.5.8 that triggers pylint false positives
  requirements-dev.txt
Labels: ci/doc, ci/operations

#260 fix missing jobControlOptions in pre-deployed processes
  CHANGES.rst
  tests/test_datatype.py
  tests/wps_restapi/test_processes.py
  weaver/datatype.py
Labels: ci/doc, ci/tests, feature/db
