Repository crim-ca/weaver, pull requests merged in 2021-05, with the labels that each got.

#250 fix wrong/misplaced target comments in makefile
  Makefile
Labels: ci/doc, ci/operations

#254 switch to latest zricethezav/gitleaks-action@master action
  .github/workflows/secret-scan.yml
Labels: ci/doc, ci/operations

#252 Added async-execute as default execution mode in process job control options
  CHANGES.rst
  tests/wps_restapi/test_processes.py
  weaver/datatype.py
Labels: ci/doc, ci/tests, feature/db

#257 update metadata doc links
  CHANGES.rst
  docs/source/references.rst
  weaver/wps_restapi/api.py
Labels: ci/doc, process/wps3, triage/conformance
