Repository crim-ca/weaver, pull requests merged in 2022-11, with the labels that each got.

#472 Fix problem with href input type for WeaverClient
  CHANGES.rst
  tests/functional/test_cli.py
  tests/test_cli.py
  weaver/cli.py
Labels: ci/tests, ci/doc, feature/cli

#503 fix minimal version of setuptools
  requirements-dev.txt
  requirements-doc.txt
  requirements-sys.txt
  requirements.txt
Labels: ci/doc, ci/operations

#494 Include additional cwl requirements
  CHANGES.rst
  tests/wps_restapi/test_processes.py
  weaver/processes/constants.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/tests, ci/doc, process/wps3, feature/oas

#474 handle CWL Directory type
  .github/workflows/tests.yml
  CHANGES.rst
  Makefile
  docs/_static/custom.css
  docs/examples/directory-listing-s3.json
  docs/examples/directory-listing.html
  docs/examples/directory-listing.json
  docs/source/appendix.rst
  docs/source/cli.rst
  docs/source/configuration.rst
  docs/source/installation.rst
  docs/source/package.rst
  docs/source/processes.rst
  docs/source/references.rst
  requirements-dev.txt
  requirements.txt
  setup.cfg
  tests/functional/application-packages/DirectoryListingProcess/deploy.yml
  tests/functional/application-packages/DirectoryListingProcess/package.cwl
  tests/functional/application-packages/DirectoryMergingProcess/deploy.yml
  tests/functional/application-packages/DirectoryMergingProcess/package.cwl
  tests/functional/application-packages/WorkflowDirectoryListing/deploy.yml
  tests/functional/application-packages/WorkflowDirectoryListing/package.cwl
  tests/functional/test_cli.py
  tests/functional/test_docker_app.py
  tests/functional/test_workflow.py
  tests/functional/test_wps_package.py
  tests/functional/test_wps_provider.py
  tests/functional/utils.py
  tests/processes/test_convert.py
  tests/test_cli.py
  tests/test_formats.py
  tests/test_schemas.py
  tests/test_utils.py
  tests/utils.py
  tests/wps_restapi/test_jobs.py
  tests/wps_restapi/test_processes.py
  weaver/cli.py
  weaver/exceptions.py
  weaver/formats.py
  weaver/owsexceptions.py
  weaver/processes/constants.py
  weaver/processes/convert.py
  weaver/processes/esgf_process.py
  weaver/processes/execution.py
  weaver/processes/opensearch.py
  weaver/processes/utils.py
  weaver/processes/wps_package.py
  weaver/processes/wps_process_base.py
  weaver/processes/wps_workflow.py
  weaver/quotation/estimation.py
  weaver/typedefs.py
  weaver/utils.py
  weaver/wps/service.py
  weaver/wps/utils.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/swagger_definitions.py
  weaver/wps_restapi/utils.py
  weaver/xml_util.py
Labels: ci/tests, ci/doc, feature/CWL, process/wps3, process/esgf-cwt, process/builtin, feature/oas, process/workflow, feature/opensearch, feature/docker, ci/operations, feature/providers, feature/cli

#504 switch `distutils.version.LooseVersion` to `packaging.version.Version`
  CHANGES.rst
  Makefile
  tests/wps_restapi/test_jobs.py
  tests/wps_restapi/test_providers.py
  weaver/compat.py
  weaver/processes/utils.py
  weaver/typedefs.py
  weaver/utils.py
  weaver/wps_restapi/processes/utils.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/tests, ci/doc, process/wps3, feature/oas, ci/operations, feature/providers
