Repository crim-ca/weaver, pull requests merged in 2023-09, with the labels that each got.

#552 fix ReadTheDocs build config
  .readthedocs.yml
Labels: ci/operations

#551 add $schema OpenAPI references and apply official CWL JSON schema reference
  .pylintrc
  CHANGES.rst
  README.rst
  requirements-dev.txt
  tests/functional/test_cli.py
  tests/functional/test_docker_app.py
  tests/test_schemas.py
  tests/test_utils.py
  tests/wps_restapi/test_api.py
  tests/wps_restapi/test_jobs.py
  tests/wps_restapi/test_processes.py
  weaver/datatype.py
  weaver/processes/utils.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/tests, ci/doc, feature/CWL, process/wps3, feature/db, feature/oas, feature/docker, ci/operations, feature/cli

#553 update example docker-compose
  docker/docker-compose.yml.example
Labels: ci/doc

#555 fix rendering of provider schema reference in response body
  CHANGES.rst
  weaver/wps_restapi/providers/providers.py
  weaver/wps_restapi/swagger_definitions.py
  weaver/wps_restapi/utils.py
Labels: ci/doc, process/wps3, feature/oas, feature/providers

#554 fix schema validation prohibiting job execution with empty string input
  CHANGES.rst
  tests/functional/test_wps_app.py
  tests/test_owsexceptions.py
  tests/wps_restapi/test_processes.py
  weaver/processes/convert.py
  weaver/utils.py
  weaver/wps_restapi/swagger_definitions.py
Labels: process/wps1, process/wps2, ci/tests, ci/doc, process/wps3, feature/db, feature/oas

#559 allow `get_sane_name` check for process/service ID to be shorter to accommodate existing WPS servers
  CHANGES.rst
  tests/utils.py
  tests/wps_restapi/test_processes.py
  tests/wps_restapi/test_providers.py
  weaver/processes/utils.py
  weaver/processes/wps_package.py
  weaver/store/mongodb.py
Labels: ci/tests, ci/doc, feature/CWL, process/wps3, feature/db, feature/providers

#558 fix invalid literal data numerics conversion and validation between WPS/OAS/CWL representations
  CHANGES.rst
  requirements-dev.txt
  tests/functional/test_cli.py
  tests/functional/test_wps_package.py
  tests/processes/test_convert.py
  tests/resources/__init__.py
  tests/resources/wps_literal_enum_io.xml
  weaver/database/base.py
  weaver/processes/constants.py
  weaver/processes/convert.py
  weaver/processes/wps_package.py
  weaver/processes/wps_testing.py
  weaver/store/base.py
  weaver/typedefs.py
  weaver/wps_restapi/swagger_definitions.py
Labels: process/wps1, process/wps2, ci/tests, ci/doc, feature/CWL, process/wps3, feature/db, feature/oas, ci/operations, feature/cli

#560 drop Python 3.6 support
  .github/workflows/tests.yml
  CHANGES.rst
  README.rst
  requirements-dev.txt
  requirements-doc.txt
  requirements-sys.txt
  requirements.txt
  setup.py
  tests/smoke/docker-compose.smoke-test.yml
Labels: ci/tests, ci/doc, feature/docker, ci/operations

#561 add smoke tests scripts to evaluate node.js dependency within built docker image
  .github/workflows/tests.yml
  CHANGES.rst
  Makefile
  docker/Dockerfile-base
  setup.cfg
  tests/smoke/docker-compose.smoke-test.yml
  tests/smoke/tests/run_tests.sh
  tests/smoke/tests/test_cwl_nodejs.py
Labels: ci/tests, ci/doc, feature/CWL, feature/docker, ci/operations

#546 Substitute `parse_cwl_array_type` with `get_cwl_io_type` in `processes.wps_package.WpsPackage.make_inputs`
  CHANGES.rst
  tests/processes/test_convert.py
  weaver/processes/convert.py
  weaver/processes/wps_package.py
Labels: ci/tests, ci/doc, feature/CWL

#562 add CLI package operation + support CWL package retrieval for provider process
  CHANGES.rst
  tests/functional/test_cli.py
  tests/functional/utils.py
  weaver/cli.py
  weaver/datatype.py
  weaver/processes/utils.py
  weaver/wps_restapi/providers/__init__.py
  weaver/wps_restapi/providers/providers.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/tests, ci/doc, process/wps3, feature/db, feature/oas, feature/providers, feature/cli

#563 add os.build now required in RTD config
  .readthedocs.yml
Labels: ci/doc, ci/operations

#565 fix invalid volume mount paths for docker-compose examples
  docker/docker-compose.yml.example
Labels: ci/doc

#566 fix nested CWL enum in array and single-value combined + CWL Workflow step output chaining with glob
  CHANGES.rst
  setup.cfg
  tests/functional/application-packages/DockerCopyNestedOutDir/deploy.yml
  tests/functional/application-packages/DockerCopyNestedOutDir/package.cwl
  tests/functional/application-packages/Finch_EnsembleGridPointWetdays/deploy.yml
  tests/functional/application-packages/Finch_EnsembleGridPointWetdays/describe.xml
  tests/functional/application-packages/Finch_EnsembleGridPointWetdays/execute.yml
  tests/functional/application-packages/Finch_EnsembleGridPointWetdays/package.cwl
  tests/functional/application-packages/Finch_EnsembleGridPointWetdays/status.xml
  tests/functional/test_workflow.py
  tests/functional/test_wps_package.py
  tests/functional/test_wps_provider.py
  tests/functional/utils.py
  tests/processes/test_convert.py
  tests/processes/test_wps_package.py
  tests/resources/__init__.py
  weaver/processes/convert.py
  weaver/processes/wps1_process.py
  weaver/processes/wps_package.py
  weaver/processes/wps_process_base.py
  weaver/processes/wps_workflow.py
  weaver/typedefs.py
  weaver/wps_restapi/swagger_definitions.py
Labels: process/wps1, ci/tests, ci/doc, feature/CWL, process/wps3, feature/oas, process/workflow, ci/operations, feature/providers
