Repository crim-ca/weaver, pull requests merged in 2023-03, with the labels that each got.

#528 fix warnings
  CHANGES.rst
  setup.cfg
  tests/functional/test_wps_package.py
  tests/processes/test_utils.py
  tests/test_cli.py
  tests/utils.py
  tests/wps/test_utils.py
  tests/wps_restapi/test_api.py
  tests/wps_restapi/test_processes.py
  tests/wps_restapi/test_providers.py
  weaver/formats.py
  weaver/owsexceptions.py
  weaver/processes/execution.py
  weaver/typedefs.py
  weaver/wps/utils.py
Labels: ci/tests, ci/doc, process/wps3, ci/operations, feature/providers, feature/cli

#524 Fix `input-location` definition for `PACKAGE_DIRECTORY_TYPE` input
  CHANGES.rst
  tests/functional/test_workflow.py
  tests/test_utils.py
  weaver/processes/wps_package.py
  weaver/utils.py
Labels: ci/tests, ci/doc, feature/CWL, process/workflow

#530 Fix `convert_input_values_schema` for multiple values
  CHANGES.rst
  tests/processes/test_convert.py
  weaver/processes/convert.py
Labels: ci/tests, ci/doc

#533 fix numpy vulnerabilities for supported python versions
  requirements.txt
Labels: ci/doc, triage/security, ci/operations

#534 fix zarr requirement under geotiff required by pywps
  requirements.txt
Labels: ci/doc, ci/operations
