Repository crim-ca/weaver, pull requests merged in 2024-09, with the labels that each got.

#706 `skip-duplicate` avoid `pull_request`/`push` for same commit
  .github/workflows/tests.yml
Labels: ci/doc, ci/operations

#705 fix packaging/setuptools versions
  requirements-sys.txt
Labels: ci/doc, ci/operations

#707 make CWL format check against IANA media-type URI more resilient against temporary/sporadic SSL handshake error
  CHANGES.rst
  tests/test_formats.py
  weaver/formats.py
Labels: ci/tests, ci/doc

#685 support execution collection input
  CHANGES.rst
  docs/examples/collection-input-basic.json
  docs/examples/collection-input-filter-cql2-json-ogc-features.json
  docs/examples/collection-input-filter-cql2-text-stac.json
  docs/source/appendix.rst
  docs/source/package.rst
  docs/source/processes.rst
  docs/source/references.rst
  requirements.txt
  tests/functional/application-packages/EchoFeatures/deploy.yml
  tests/functional/application-packages/EchoFeatures/echo_features.cwl
  tests/functional/application-packages/EchoFeatures/execute.yml
  tests/functional/test_wps_package.py
  tests/processes/builtin/__init__.py
  tests/processes/builtin/test_utils.py
  tests/processes/test_convert.py
  tests/test_formats.py
  tests/utils.py
  tests/wps_restapi/test_swagger_definitions.py
  weaver/datatype.py
  weaver/execute.py
  weaver/formats.py
  weaver/processes/builtin/collection_processor.cwl
  weaver/processes/builtin/collection_processor.py
  weaver/processes/builtin/file2string_array.py
  weaver/processes/builtin/utils.py
  weaver/processes/convert.py
  weaver/processes/execution.py
  weaver/processes/utils.py
  weaver/processes/wps1_process.py
  weaver/processes/wps_package.py
  weaver/store/mongodb.py
  weaver/typedefs.py
  weaver/utils.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/jobs/jobs.py
  weaver/wps_restapi/swagger_definitions.py
Labels: process/wps1, ci/tests, ci/doc, feature/CWL, process/wps3, process/builtin, feature/db, feature/job, feature/oas, ci/operations

#529 Add custom Weaver schema definitions for CWL
  CHANGES.rst
  docs/source/conf.py
  docs/source/processes.rst
  tests/functional/application-packages/EchoProcess/package.cwl
  tests/functional/test_builtin.py
  tests/functional/test_cli.py
  tests/functional/test_wps_package.py
  tests/functional/utils.py
  tests/processes/test_constants.py
  tests/processes/test_convert.py
  tests/processes/test_utils.py
  tests/processes/test_wps_package.py
  tests/utils.py
  tests/wps_restapi/test_colander_extras.py
  tests/wps_restapi/test_processes.py
  tests/wps_restapi/test_swagger_definitions.py
  weaver/datatype.py
  weaver/formats.py
  weaver/processes/constants.py
  weaver/processes/wps_package.py
  weaver/schemas/cwl/weaver-extensions.yml
  weaver/typedefs.py
  weaver/utils.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/tests, ci/doc, feature/CWL, process/wps3, process/builtin, feature/db, feature/oas, ci/operations, feature/cli

#708 jupyter notebook to CWL docs
  CHANGES.rst
  docs/examples/jupyter_repo2cwl_python.py
  docs/source/conf.py
  docs/source/package.rst
  docs/source/references.rst
Labels: ci/doc

#709 fix incompatibilities between extra requirements `celery[mongodb]` and `pymongo[srv]>=4.8.0`
  CHANGES.rst
  docker/Dockerfile-base
  requirements.txt
Labels: ci/doc, ci/operations

#711 fix `GET /jobs` HTML listing error when no `detail` defined by default
  CHANGES.rst
  tests/wps_restapi/test_jobs.py
  weaver/wps_restapi/jobs/jobs.py
Labels: ci/tests, ci/doc, process/wps3, feature/job

#702 Parsing cwl metadata
  CHANGES.rst
  docs/source/package.rst
  tests/processes/test_wps_package.py
  tests/smoke/docker-compose.smoke-test.yml
  weaver/processes/wps_package.py
  weaver/typedefs.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci/tests, ci/doc, feature/CWL, process/wps3, feature/oas, feature/docker, ci/operations

#712 simplify metadata table
  docs/source/package.rst
  docs/source/references.rst
Labels: ci/doc

#720 update readme keywords + update readme jupyter notebook docs
  README.rst
Labels: ci/doc
