Repository crim-ca/weaver, pull requests merged in 2024-02, with the labels that each got.

#601 fix `moto>=5` rename of test mock utility for AWS S3
  CHANGES.rst
  Makefile
  setup.cfg
  tests/utils.py
Labels: ci/tests, ci/doc, ci/operations

#603 add `weaver.wps_client_headers_filter` setting to filter WPS provider headers
  CHANGES.rst
  config/weaver.ini.example
  docs/source/configuration.rst
  tests/wps/test_utils.py
  weaver/utils.py
  weaver/wps/utils.py
Labels: ci/tests, ci/doc

#599 add SessionAuthHandler
  AUTHORS.rst
  CHANGES.rst
  tests/test_cli.py
  weaver/cli.py
Labels: ci/doc, feature/cli
